.galleryItem {
  position: relative;
}

.galleryItem:not(:last-child) {
  margin-bottom: 20px;
}

.image {
  display: block;
  width: 100%;
  transition: 0.5s ease;
}

.author {
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: none;
}

.authorImage {
  margin-right: 8px;
  border-radius: 100%;
  max-width: 40px;
}

.authorInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  color: #fff;
}

.authorInfo:hover {
  color: #fff;
}

.authorName {
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

.authorName:hover {
  opacity: 1;
}

.date {
  font-size: 12px;
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

.date:hover {
  opacity: 1;
}

.like {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: none;
  border: none;
  color: #fff;
  background: none;
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

.like::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  background: url("../../../../assets/image/unlike.svg") no-repeat;
  background-size: contain;
}

.like:hover {
  opacity: 1;
  cursor: pointer;
}

.likeActive {
  color: #eeaf4b;
  opacity: 1;
}

.likeActive::before {
  background-image: url("../../../../assets/image/like.svg");
}

.galleryItem:hover .image {
  filter: brightness(60%);
}

.galleryItem:hover .author {
  display: flex;
}

.galleryItem:hover .like {
  display: block;
}
