.header {
  margin-bottom: 50px;
  padding: 15px 0;
  box-shadow: 0 0 10px #133865;
  color: #eeaf4b;
  background: #3a669c;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}

.logo {
  max-width: 200px;
}
