.gallery {
  display: flex;
  margin-bottom: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
}

.row:not(:last-child) {
  margin-right: 20px;
}

.more {
  display: block;
  margin: 0 auto 50px;
  border: 2px solid #eeaf4b;
  padding: 10px 15px;
  font-size: 18px;
  color: #eeaf4b;
  background: transparent;
  transition: background, border 0.5s ease;
}

.more:hover {
  border-color: #000;
  background: #000;
  cursor: pointer;
}
