.photo {
  margin-bottom: 50px;
}

.photo img {
  width: 100%;
  height: auto;
}

.imageInfo {
  display: flex;
  justify-content: space-between;
}

.author {
  display: flex;
  margin-bottom: 30px;
  text-decoration: none;
}

.authorImage {
  margin-right: 8px;
  border-radius: 100%;
  max-width: 40px;
}

.authorInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.authorName {
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

.authorName:hover {
  opacity: 1;
}

.date {
  font-size: 12px;
  opacity: 0.8;
  transition: opacity 0.5s ease;
}

.date:hover {
  opacity: 1;
}

.like::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 16px;
  height: 16px;
  background: url("../../assets/image/dislikeBlack.svg") no-repeat;
  background-size: contain;
}

.like:hover {
  cursor: pointer;
}

.back {
  display: block;
  border: 2px solid #eeaf4b;
  padding: 10px 15px;
  font-size: 18px;
  color: #eeaf4b;
  background: transparent;
  transition: background, border 0.5s ease;
}

.back:hover {
  border-color: #000;
  background: #000;
  cursor: pointer;
}
